<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SCADA_VERTEX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SCADA_VERTEX.Properties.Settings>
            <setting name="IOServer" serializeAs="String">
                <value>opc.tcp://127.0.0.1:49320</value>
            </setting>
            <setting name="Channel" serializeAs="String">
                <value>Channel1.Device1</value>
            </setting>
            <setting name="PLC_Tags_Scan_Time" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SQL_String" serializeAs="String">
                <value>Data Source=127.0.0.1,1433;Initial Catalog=SCADA_VERTEX_DB;User ID=sa;Password=123456;Encrypt=False;TrustServerCertificate=True</value>
            </setting>
            <setting name="SQL_DB_Name" serializeAs="String">
                <value>SCADA_VERTEX_DB</value>
            </setting>
            <setting name="SQL_DB_User" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="SQL_DB_Password" serializeAs="String">
                <value>123456</value>
            </setting>
            <setting name="Ex_Man" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Raw_Man" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="H_B" serializeAs="String">
                <value>999</value>
            </setting>
            <setting name="X_M" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Y_M" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="W_M" serializeAs="String">
                <value>999</value>
            </setting>
            <setting name="H_M" serializeAs="String">
                <value>999</value>
            </setting>
            <setting name="SCALE" serializeAs="String">
                <value>0.09</value>
            </setting>
            <setting name="Profile_Thresh" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Label_Thresh" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="X_B" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Y_B" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="W_B" serializeAs="String">
                <value>999</value>
            </setting>
            <setting name="Batch_Tray1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Batch_Tray2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Batch_Tray3" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Batch_TrayErr" serializeAs="String">
                <value>1</value>
            </setting>
        </SCADA_VERTEX.Properties.Settings>
    </userSettings>
</configuration>